{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
   
        <div class="main-panel">
          <div class="content-wrapper">

            {% if parking_zones.count == 0  %}
            {% if logged_user == 'BookingCounterAgent'%}

            <form method="post" action="/dashboard/initialize_data">
              {% csrf_token %}
              <button class="nav-link btn btn-primary create-new-button"> + Inzilazie Parking Zone Data</button>
            </form>
            
            {% endif %}
            {% endif %}


            {% if parking_zones.count != 0 %}
            
            

            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Total Spaces - 10</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">Parking Zone A</h2>
                          
                        </div>
                       
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <a href="#">
                          <i class="icon-lg mdi mdi-codepen text-primary ml-auto" id="zone_a_btn"></i>
                        </a>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Total Spaces - 10</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">Parking Zone B</h2>
                          
                        </div>
                        
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <a href="#">
                          <i class="icon-lg mdi mdi-codepen text-success ml-auto" id="zone_b_btn"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Total Free Spaces - 10</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">Parking Zone C</h2>
                        
                        </div>
                        
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <a href="#">
                          <i class="icon-lg mdi mdi-codepen text-info ml-auto" id="zone_c_btn"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" id="zone_a_btn_div">
              
              <div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Parking Space Details</h4>
                    <p class="card-description"> Zone A</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-bordered table-contextual">
                        <thead>
                          <tr>
                            <th> # Id </th>
                            <th> Parking Space Title</th>
                            <th> Status </th>
                            <th> Vehicle Registration No. </th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for space in parking_spaces_a %}

                          {% if space.status != 'Vacant' %}
                          <tr class="table-danger">
                            <td> {{space.id}} </td>
                            <td> {{space.parking_space_title}} </td>
                            <td> {{space.status}} </td>
                            <td> {{space.vehicle_parked}} </td>
                            {% if logged_user == "BookingCounterAgent" %}
                                <td>  
                                  <form method="post" action="/dashboard/release_parking_space">
                                    {% csrf_token %}
                                    <input  name="parking_space_id" type="hidden" value="{{space.id}}"> 
                                    <button class="btn btn-primary mt-1" type="submit">Release</button>
                                  </form>
                                  
                                </td>
                            {% endif %}
                          </tr>
                          {% endif %}

                          {% if space.status == 'Vacant' %}
                          <tr class="table-success">
                            <td> {{space.id}} </td>
                            <td> {{space.parking_space_title}} </td>
                            <td> {{space.status}} </td>
                            <td> {{space.vehicle_parked}} </td>
                            {% if logged_user == "BookingCounterAgent" %}
                              <td>
                                <form method="post" action="/dashboard/book_parking_space">
                                  {% csrf_token %}
                                  <input type="text" class="form-control" placeholder="Enter Vehicle Registration Number" name="vehicle_number"> 
                                  <input  name="parking_space_id" type="hidden" value="{{space.id}}"> 
                                  <button class="btn btn-info mt-1 bookparkingbtn" type="submit">Book</button>
                                </form>
                                
                              </td>
                            {% endif %}
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" id="zone_b_btn_div">
              
              <div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Parking Space Details</h4>
                    <p class="card-description"> Zone B</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-bordered table-contextual">
                        <thead>
                          <tr>
                            <th> # Id </th>
                            <th> Parking Space Title</th>
                            <th> Status </th>
                            <th> Vehicle Registration No. </th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for space in parking_spaces_b %}

                          {% if space.status != 'Vacant' %}
                          <tr class="table-danger">
                            <td> {{space.id}} </td>
                            <td> {{space.parking_space_title}} </td>
                            <td> {{space.status}} </td>
                            <td> {{space.vehicle_parked}} </td>
                            {% if logged_user == "BookingCounterAgent" %}
                            <td>
                              <form method="post" action="/dashboard/release_parking_space">
                                {% csrf_token %}
                                <input  name="parking_space_id" type="hidden" value="{{space.id}}"> 
                                <button class="btn btn-primary mt-1" type="submit">Release</button>
                              </form>
                            </td>
                            {% endif %}
                          </tr>
                          {% endif %}

                          {% if space.status == 'Vacant' %}
                          <tr class="table-success">
                            <td> {{space.id}} </td>
                            <td> {{space.parking_space_title}} </td>
                            <td> {{space.status}} </td>
                            <td> {{space.vehicle_parked}} </td>
                            {% if logged_user == "BookingCounterAgent" %}
                            <td>
                              <form method="post" action="/dashboard/book_parking_space">
                                {% csrf_token %}
                                <input type="text" class="form-control" placeholder="Enter Vehicle Registration Number" name="vehicle_number"> 
                                <input  name="parking_space_id" type="hidden" value="{{space.id}}"> 
                                <button class="btn btn-info mt-1 bookparkingbtn" type="submit">Book</button>
                              </form> </td>
                              {% endif %}
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row" id="zone_c_btn_div">
              
              <div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Parking Space Details</h4>
                    <p class="card-description"> Zone C</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-bordered table-contextual">
                        <thead>
                          <tr>
                            <th> # Id </th>
                            <th> Parking Space Title</th>
                            <th> Status </th>
                            <th> Vehicle Registration No. </th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for space in parking_spaces_c %}

                          {% if space.status != 'Vacant' %}
                          <tr class="table-danger">
                            <td> {{space.id}} </td>
                            <td> {{space.parking_space_title}} </td>
                            <td> {{space.status}} </td>
                            <td> {{space.vehicle_parked}} </td>
                            {% if logged_user == "BookingCounterAgent" %}
                            <td>  
                              <form method="post" action="/dashboard/release_parking_space">
                              {% csrf_token %}
                              <input  name="parking_space_id" type="hidden" value="{{space.id}}"> 
                              <button class="btn btn-primary mt-1" type="submit">Release</button>
                            </form>
                          </td>
                          {% endif %}
                          </tr>
                          {% endif %}

                          {% if space.status == 'Vacant' %}
                          <tr class="table-success">
                            <td> {{space.id}} </td>
                            <td> {{space.parking_space_title}} </td>
                            <td> {{space.status}} </td>
                            <td> {{space.vehicle_parked}} </td>
                            {% if logged_user == "BookingCounterAgent" %}
                            <td>
                              <form method="post" action="/dashboard/book_parking_space">
                                {% csrf_token %}
                                <input type="text" class="form-control" placeholder="Enter Vehicle Registration Number" name="vehicle_number"> 
                                <input  name="parking_space_id" type="hidden" value="{{space.id}}"> 
                                <button class="btn btn-info mt-1 bookparkingbtn" type="submit">Book</button>
                              </form>
                            </td>
                            {% endif %}
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            {% endif %}


          </div>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    {% endblock content %}